{% extends 'base.html' %}
{% block title %}Список маршрутов{% endblock %}

{% block content %}
<h1>Список маршрутов</h1>
<div class="row ">
    <div class="col-md-8 mx-auto my-2">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время в пути</th>
            </tr>
        {% for object in page_obj %}
            <tr>
                <td>
                    <a href="{% url 'detail' pk=object.pk%}">{{object.name}}</a>
                </td>
                <td>{{object.from_city}}</td>
                <td>{{object.to_city}}</td>
                <td>{{object.travel_times}}</td>

            </tr>


        {% endfor %}
        </table>
    </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        {% endif %}
    </li>
    {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %} ">
            <a class="page-link" href="?page={{page}}">
                {{ page }}
            </a>
        </li>
    {% endfor %}
    <li class="page-item">
        {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
        {% endif %}
    </li>
  </ul>
</nav>


{% endblock %}

