{% extends 'base.html' %}
{% block title %}Список городов{% endblock %}

{% block content %}
<h1>Список городов</h1>
<div class="row">
    <div class="col-md">
        {% for object in objects_list %}
            <p>
                <a href="{% url 'cities:detail' pk=object.pk%}">{{object.name}}</a>
                </p>
        {% endfor %}
    </div>
</div>

<form action="" method="post"> {% csrf_token %}
  <label for="fname">Город</label><br>
  <input type="text" id="fname" name="name" ><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
